
body{
  background-color: #212529;

}

.card{
  position: relative;
}

.card-icon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ced4da;
  font-size: 24px; 
  visibility:hidden;  
  width: 0px; 
  z-index: 150; 
}
.dropdown-icon{
  z-index: 150;
}

.card:hover .card-icon{
  width: 60px;
  visibility:visible; 
  display: block;
  transition: width 0.35s;
}

/* .card-icon.active{
  width: 0;
  visibility:visible; 
  display: block;
  transition: width 0.35s;
} */
.nav-link{
  cursor: pointer;

}

//  .item-icon:hover i{
//   border-radius: 50%;
//   color: black;
//   transition: all .5s;
// }



.card-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:  rgba(0, 0, 0, 0.5); /* Black see-through */;
} 
/*測試 */
// .card:hover .card-overlay{
//   opacity: 1;
// }

.card-overlay.active{
  opacity: 1;
}

.card-overlay-text{
  text-decoration: none;
  color: white;
  font-size: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* .card-item .item-active{
 
} */

// .card-hover:hover{
//   box-shadow: 1px 1px 0px 1px #dee2e6 ;
// }

.list-group{
  list-style: none;
}

/* note-list */

.note-list:hover{
  border: 0.5px solid #e9ecef;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 0px 1px #dee2e6 ;
}

.note-list{
  cursor: pointer;
}

.table-Note tbody tr:hover{
  background-color: #e9ecef;
  color: #212529;
}